[submodule ".vim/colors"]
	path = .vim/colors
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
